<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogToConsole="true"
      internalLogLevel="Info" >

  <variable name="logDirectory" value="${basedir}\logs\${shortdate}"/>
  <!-- the targets to write to -->
  <targets>
	  <!-- write logs to file -->
	  <target xsi:type="File" name="allfile" fileName="${logDirectory}\${logger}.log"
			  layout="${longdate}|${uppercase:${level}}|${message} ${onexception:inner=${newline} *****Error***** ${newline} ${exception:format=ToString}}" />
	  <target xsi:type="ColoredConsole" name="console"
			  layout="${longdate}|${uppercase:${level}}|${message} ${onexception:inner=${newline} *****Error***** ${newline} ${exception:format=ToString}}" />



  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />

  </rules>
</nlog>